body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#environementBarreRecherche{
    display: flex;
    /*background-color: aqua;*/
    padding: 0 1rem 0 1rem;
    width: 60%;
    justify-content: center;
}

#barreRecherche{
    /*background-color: aquamarine;*/
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    width: 50%;
}

#chat{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    min-width: 80%;
}

#chat_reponses{
    width: 60%;
    text-align: center;
    padding: 1rem;
    /*background-color: blue;*/
}

.qa{
    background-color: #ececec;
    border-radius: 1rem;
    margin: 1rem;
    transition: all 0.3s ease;
}

.qa:hover{
    transform: scale(1.05);
}

#qa_temp{
    opacity: 0.5;
}

.question{
    border-radius: 1rem 1rem 0 0;
    background-color: lightgrey;
    padding: 0.4rem;
}

.reponse{
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#message-ps{
    font-style: italic;
    /*background-color: red;*/
}

